<ul id="post-comment-<%= i.id %>">
  <% for (let j=i.comments.length - 1;j >0 ; j--) { %>
  <br />
  <% let comment = i.comments[j] %>
  <li id="comment-<%= comment.id %>">
    <!-- deleting a comment  -->
    <% if(locals.user && locals.user.id == comment.user.id) { %>
    <small>
      <a
        href="/comments/delete/<%= comment.id %>"
        class="Delete-comment-button"
      >
        delete
      </a>
    </small>
    <% } %>

    <!-- showing a comment  -->
    <div>
      <p><%= comment.content %></p>
      <small> <%= comment.user.name %> </small>
    </div>
  </li>

  <%} %>
</ul>
