<li id="comment-<%= comment._id %>">
  <p>
    <% if (locals.user && locals.user.id == comment.user.id){ %>

    <small>
      <a class="delete-comment-button" href="/comments/delete/<%= comment.id %>"
        >X</a
      >
    </small>
    <% } %> <%= comment.content %>
    <br />
    <div class="likes">
      <span><%= comment.likes.length %></span>
      <button class="commentLikeButton" id="<%= comment._id %>">Like</button>
    </div>
    <small> <%= comment.user.name %> </small>
  </p>
</li>
