<div id="post-list">
  <% for(i of posts) { %>
  <div id="post-<%= i.id %>">
    <% if(locals.user && locals.user.id == i.user.id) { %>

    <!-- deleting a post  -->
    <small>
      <a class="delete-post-button" href="/posts/delete/<%= i.id %>">delete</a>
    </small>

    <!-- showing a post  -->
    <% } %> <%= i.content %>
    <small><p><%= i.user && i.user.name %></p></small>

    <!-- comment section  -->
    <% if(locals.user) { %>
    <div class="comment-box"><%- include('_commentBox') %></div>
    <% } %>
    <div class="post-comment-list"><%- include('_commentList') %></div>
  </div>
  <% } %>
</div>
