<link rel="stylesheet" href="/css/user_profile.css" />
<h1><a href="/"> social </a> Profile page</h1>

<img
  src="<%= user_profile.avatar %>"
  alt="<%= user_profile.name %>"
  width="100"
/>

<% if(locals.user.id==user_profile.id) {%>
<form
  action="/users/update-profile/<%= user_profile.id %>"
  enctype="multipart/form-data"
  method="POST"
>
  <p>name</p>
  <input type="text" name="name" value="<%= user_profile.name %>" />
  <p>email</p>
  <input type="email" name="email" value="<%= user_profile.email %>" />
  <!-- TODO implement checking password also  -->
  <!-- <p>Enter password</p> -->
  <!-- <input type="password" name="password" /> -->
  <input type="file" name="avatar" placeholder="Profile picture" />
  <input type="submit" value="Update" />
</form>
<% } else { %>
<p><%= user_profile.name %></p>
<p><%= user_profile.email %></p>
<% } %>
